<div class="auth-container">
    <h2>Entrar</h2>
    <form action="/login" method="POST">
        <div class="form-control">
            <label for="email">E-mail:</label>
            <input type="email" name="email" placeholder="Digite o seu email" required>
        </div>
        <div class="form-control">
            <label for="password">Senha:</label>
            <input type="password" name="password" placeholder="Digite a senha" required>
        </div>
        <input type="submit" value="Entrar"/>
        <p>Ainda não possui uma conta? <a href="/register">Cadastre-se Aqui!</a></p>
    </form>
</div>