<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/toughts/add" class="btn">Criar Pensamento</a>
    </div>
    <h3>Seus Pensamentos</h3>
    <ul>
        {{#each toughts}}
            <li>
                <span class="label">{{title}}</span>
                <span class="actions">
                    <a href="/toughts/edit/{{id}}" class="btn">Editar</a>
                    <form action="/">
                        <input type="hidden" name="id" value="{{id}}">
                        <input type="submit" value="Excluir" class="btn">
                    </form>
                </span>
            </li>
        {{/each}}
    </ul>
</div>