<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/toughts/add" class="btn">Criar Pensamento</a>
    </div>
    <h3>Seus Pensamentos</h3>
    <ul>
        {{#each toughts}}
            <li>
                {{title}}
                <a href="/toughts/edit" class="btn">Editar</a>
                <a href="/toughts/delete" class="btn">Deletar</a>
            </li>
        {{/each}}
    </ul>
</div>